# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
.venv/
venv/

# Data (too large for git)
*.parquet
*.csv
!Data2_transactions_mobile_money_100k.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
*.env.local
